$body-bg: #2b2d3c;
$body-color: #9ca1b2;
$primary: #2196f3;
$layouts-bg: #2f3242;

$font-family-base: 'Montserrat';
$font-size-base: 1rem;
$line-height-base: 1.75;

$font-size-sidebar-tooltip: 0.75rem;

$grid-gutter-width: 1.5rem;

$headings-color: #fff;
$h1-font-size: 1.375rem;
$headings-font-weight: bold;
$headings-line-height: normal;
$headings-margin-bottom: 0.9375rem;


$link-decoration: none;

$btn-border-width: 2px;
$input-btn-focus-color: transparent;

$navbar-nav-link-padding-x: 0;
$navbar-padding-y: 0;
$navbar-padding-x: 0;
