[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
}

.icon-plus {
  background: url('../img/icons/icon-plus.png');
  width: 0.875rem;
  height: 0.875rem;
}

.icon-account {
  background: url('../img/icons/icon-account.png');
  width: 2.125rem;
  height: 1.375rem;
}

.icon-bars {
  background: url('../img/icons/icon-bars.png');
  width: 1.75rem;
  height: 1.1875rem;
}

.icon-bell {
  background: url('../img/icons/icon-bell.png');
  width: 1.9375rem;
  height: 1.875rem;
}

.icon-down {
  background: url('../img/icons/icon-down.png');
  width: 0.875rem;
  height: 0.5rem;
}

.icon-email {
  background: url('../img/icons/icon-email.png');
  width: 1.9375rem;
  height: 1.5rem;
}

.icon-home {
  background: url('../img/icons/icon-home.png');
  width: 1.875rem;
  height: 1.5rem;
}

.icon-search {
  background: url('../img/icons/icon-search.png');
  width: 1.6875rem;
  height: 1.75rem;
}

.icon-trending-up {
  background: url('../img/icons/icon-trending-up.png');
  width: 1.875rem;
  height: 1.125rem;
}