@mixin font-face($folder, $font-name, $font-weight: 400, $font-style: normal) {
  src: url('../fonts/#{$folder}/#{$font-name}.eot');
  src: url('../fonts/#{$folder}/#{$font-name}.eot?#iefix') format('embedded-opentype'),
  url('../fonts/#{$folder}/#{$font-name}.woff2') format('woff2'),
  url('../fonts/#{$folder}/#{$font-name}.woff') format('woff'),
  url('../fonts/#{$folder}/#{$font-name}.ttf') format('truetype'),
  url('../fonts/#{$folder}/#{$font-name}.svg##{$font-name}') format('svg');
  font-weight: $font-weight;
  font-style: $font-style;
}

/*=== Montserrat ===*/
@font-face {
  font-family: 'Montserrat';
  @include font-face('Montserrat', 'MontserratRegular');
}
/*=== /Montserrat ===*/

/*=== Montserrat Bold ===*/
@font-face {
  font-family: 'Montserrat';
  @include font-face('Montserrat', 'MontserratBold', bold);
}
/*=== /Montserrat Bold ===*/
